@font-face {
  font-family: 'Serendipity';
  src: url('../fonts/serendipity.eot') format('embedded-opentype'), url('../fonts/serendipity.woff2') format('woff2'), url('../fonts/serendipity.woff') format('woff'), url('../fonts/serendipity.ttf') format('truetype'), url('../fonts/serendipity.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
